@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b14;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}